.App-header>h1 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(12) infinite alternate,
      blink 800ms steps(12) infinite normal;
    border-right: 5px solid black;
  }
  .App-header {
    /* background-color: #282c34; */
    
    display: flex;
    margin-top: 0;
    flex-direction: row;
    align-items:flex-end;
    padding-bottom: 5;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #59bd99;text-shadow: 1px 1px white;
   
  }
  @keyframes blink {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
  }

  @media only screen and (width<= 1000px) {
    .App-header{
      min-height: 30vh;
    }
    @keyframes typewriter {
        from {
          width: 0%;font-size: 1.5em;
        }
        to {
          width: 80%;font-size: 1.5em;
        }
      }
     
  }

  @media only screen and (width> 1000px) {
    .App-header{
      min-height: 90vh;
    }
    @keyframes typewriter {
        from {
          width: 0%;font-size: 2em;
        }
        to {
          width: 48%;font-size: 2em;
        }
      }
  }

  