.App{
  background-image: url('./Resources/Images/lata1.jpg');
  background-repeat: no-repeat;
  background-size:100%;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  margin-top: 0;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 5;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

