.App{
  background-image: url('./Resources/Images/lata1.jpg');
  background-repeat: round;
  background-size:contain;
  background-attachment: fixed;
  overflow: hidden;
}


/* .App-link {
  color: #61dafb;
} */

